* {
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #eb4559;
}

h1 {
  font-weight: 900;
}

ul {
  list-style-type: disclosure-closed;
}

.search p {
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  background-color: #206a5d;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: medium;
  /* box-shadow: 5px 5px 10px black; */
}

#button:hover {
  background-color: #438a5e;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  text-decoration: none;
  box-shadow: 5px 5px 1px rgb(22, 22, 22);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-icon {
  stroke-width: var(--ionicon-stroke-width, 48px);
  contain: size;
  width: 30px;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
